{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'bid/bid.css' %}">
</head>
<body>
    <div class="findField">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ searchform }}
            <button type="submit" name="searchf">Search</button>
        </form>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ selectform }}
            <button type="submit" name="selectf">Search</button>
        </form>
    </div>

    <div class="listField">
        <table>
            <thead>
                <tr>
                    <td style="width: 10%;">Co.Name</td>
                    <td style="width: 20%;">File Urls</td>
                    <td style="width: 5%;">Bid Type</td>
                    <td style="width: 5%;">Bid Name</td>
                    <td style="width: 5%;">Bid Num</td>
                    <td style="width: 20%;">Bid Descriptions</td>
                    <td style="width: 10%;">Bid Insuarance Time</td>
                    <td style="width: 10%;">Bid Open Time</td>
                    <td style="width: 10%;">Input Time</td>
                    <td style="width: 5%;"> Category</td>
                </tr>
            </thead>

            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.0 }}</td>
                        <td>{{ item.1 }}</td>
                        <td>{{ item.2 }}</td>
                        <td>{{ item.3 }}</td>
                        <td>{{ item.4 }}</td>
                        <td>{{ item.5 }}</td>
                        <td>{{ item.6 }}</td>
                        <td>{{ item.7 }}</td>
                        <td>{{ item.8 }}</td>
                        <td>{{ item.9 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
