{% extends 'base.html' %}

{% block content %}

<div class="detailBid">
    <table>
        <tbody>
            <tr>
                <td style="width: 150px;">Power Company</td><td style="width: auto;">{{ item.1 }}</td>
            </tr>
            <tr>
                <td>Documents</td><td id = "itemOne">{{ item.2 }}</td>
            </tr>
            <tr>
                <td>Descriptions</td><td>{{ item.3 }}</td>
            </tr>
            <tr>
                <td>IssuanceTime</td><td>{{ item.4 }}</td>
            </tr>
            <tr>
                <td>OpenTime</td><td>{{ item.5 }}</td>
            </tr>
            <tr>
                <td>InputTime</td><td>{{ item.6 }}</td>
            </tr>
            <tr>
                <td>Category</td><td>{{ item.7 }}</td>
            </tr>
            <tr>
                <td>Down_Status</td><td>{{ item.8 }}</td>
            </tr>
            <tr>
                <td>Qty_TotalDoc</td><td>{{ item.9 }}</td>
            </tr>
            <tr>
                <td>Qty_DownDoc</td><td>{{ item.10 }}</td>
            </tr>
            <tr>
                <td>ScanDisting</td><td>{{ item.11 }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div id="pdfField">
    <div id="engPdf">

    </div>
    <div id="korPdf">
    
    </div>
</div>

<script>
    var beforeStr = "{{ item.2|safe }}";
    var afterStr = beforeStr.split(',');
    var strValue = "";

    for ( var i = 0; i < afterStr.length; i ++) {
        strValue += "<p>" + afterStr[i] + "</p>";
    }
    document.getElementById('itemOne').innerHTML = strValue

    for ( var i = 0; i < afterStr.length; i ++) {
        var newObj = document.createElement('object');
        newObj.data = afterStr[i];
        document.getElementById('engPdf').appendChild(newObj);
    }

    for ( var i = 0; i < afterStr.length; i ++) {
        var korObj = document.createElement('object');
        korObj.data = afterStr[i];
        document.getElementById('korPdf').appendChild(korObj);
    }
</script>

{% endblock %}
