{% extends 'base.html' %}

{% block content %}

<a class="mBtnWrap" href="{% url 'moniter_field' %}">Moniter</a>

<div class="findField">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ searchform }}
        <button type="submit" name="searchf">Search</button>
    </form>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ selectform }}
        <button type="submit" name="selectf">Search</button>
    </form>
    
</div>

<div class="listField">
    <table>
        <thead>
            <tr>
                <td style="width: 10%;">Power Company</td>
                <td style="width: 10%;">Down_Status</td>
                <td style="width: 10%;">Qty_TotalDoc</td>
                <td style="width: 10%;">Qty_DownDoc</td>
                <td style="width: 20%;">InputTime</td>
                <td style="width: 20%;">IssuanceTime</td>
                <td style="width: 20%;">OpenTime</td>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td><a href="{% url 'detail_field' idk=item.6 %}">{{ item.1 }}</a></td>
                <td>{{ item.8 }}</td>
                <td>{{ item.9 }}</td>
                <td>{{ item.10 }}</td>
                <td>{{ item.6 }}</td>
                <td>{{ item.4 }}</td>
                <td>{{ item.5 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}